.text-style {
  background: linear-gradient(to top, #f9d9ca, #d18063, #eadb80);
  background: -webkit-linear-gradient(to top, #f9d9ca, #d18063, #eadb80);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 60px;
  font-size: 18px;
}
